<!DOCTYPE html>
<html ng-app="caterorder">
<head>
 </head>
<body ng-controller="DeptController as d"> 
 <table class="table">
    <thead>
      <tr>
        <th>Dept Name</th>
      </tr>
    </thead>
      <tbody>
      <tr ng-repeat="dept in d.depts">
        <td>{{dept.dept_name}}</td>
	<td><button ng-click="action=Edit">Edit</button></td>{{action}}   
	<td><button ng-click="action=Delete">Delete</button></td>
      </tr>
    </tbody>
 </table>
 <blockquote ng-show="action=Edit">
  Edit Form
 </blockquote>
 <blockquote>
  Add Dept
    <form name="deptForm"  ng-submit="d.addDept(dept)">
        <input type="text" ng-model="dept.dept_name">
	<input type="submit" value="Submit" />
    </form>
  </blockquote>  
</body>

</html>

