<!DOCTYPE html>
<html ng-app="caterorder">
<head>
 </head>
<body ng-controller="DeptController as d"> 
<br/>
<br/>
 <table class="table table-striped table-bordered ">
    <thead>
      
        <th>Dept Name</th>
      
    </thead>
      <tbody>
      <tr ng-repeat="dept in d.depts">
        <td>{{dept.dept_name}}</td>
	<td><button ng-init="row=0" ng-click="action=2">Edit</button> 
<div ng-show="action==2">
 <blockquote>
  <form name="deptForm" ng-submit="d.editDept(dept)">
	<input type="hidden" ng-model="dept.id">
        <input type="text" ng-model="dept.dept_name">
	<input type="submit" value="Submit" />
  </form>
 </blockquote>
 </div></td>  
	<td><button ng-click="d.deleteDept(dept.id)">Delete</button></td>
      </tr>
    </tbody>
 </table>

 <blockquote>
  Add Dept
    <form name="deptForm"  ng-submit="d.addDept(dept)">
        <input type="text" ng-model="dept.dept_name">
	<input type="submit" value="Submit" />
    </form>
  </blockquote>  
</body>

</html>

